
.wrapper {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: skyblue;
}

.grilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}
